@import '@material/react-linear-progress/index.scss';
@import '@material/react-card/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-icon-button/index.scss';
@import '@material/react-menu-surface/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-ripple/index.scss';
@import '@material/react-snackbar/index.scss';

#root {
  height: 100%;
}

main {
  height: 100%;
}

.mdc-top-app-bar-drawer-fix {
  width: calc(100% - 256px) !important;
}

.align-text-center {
  margin: auto;
  padding: 0;
}

.top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

.grid-container {
  margin: 0 auto;
  padding: 0 48px;
}

.fix-container {
  position: absolute;
  width: 100%;
}

.mdc-drawer {
  @include mdc-drawer-surface-fill-color(var(--mdc-theme-surface));
}

#navList .mdc-list-item {
  font-size: 1rem;
}

// Dark theming.
html[data-theme="dark"] {
  .mdc-drawer {
    /* Should always be --mdc-theme-surface color. */
    @include mdc-drawer-fill-color-accessible(#003638);
    @include mdc-drawer-item-activated-icon-ink-color(#da5026);
  }
}

h5.vertical-align {
  height: 2rem;
  margin: auto;
}

.account {
  margin: auto 0;
  margin-right: 12px;
  height: 44px;
  width: 44px;

  img {
    border-radius: 50%;
    height: 44px;
    width: 44px;
  }
}

.mdc-menu-surface #grid {
  padding: 8px;
  display: grid;
  grid-row-gap: 16px;
  grid-template-areas: "name name name name""email email email email""profile . . .""sign-out . dark-mode settings";
}

#name {
  grid-area: name;
}

#email {
  margin-top: -16px;
  grid-area: email;
}

#profile {
  grid-area: profile;
  @include mdc-button-container-fill-color(var(--mdc-theme-secondary));
}

#dark-mode {
  grid-area: dark-mode;
  margin: auto;
  width: 48px;
  height: 48px;
}

#settings {
  grid-area: settings;
  margin: auto 0 0 auto;
  width: 48px;
  height: 48px;
}

#sign-out {
  grid-area: sign-out;
  margin: auto;
  color: var(--mdc-theme-secondary);
  @include mdc-button-outline-color(var(--mdc-theme-secondary));
  @include mdc-states-base-color(#b00020);
}

.mdc-list-divider {
  border-bottom-color: #0000001f;
}

html[data-theme="dark"] .mdc-list-divider {
  border-bottom-color: #ffffff1f;
}

.navigate-highlight .mdc-card {
  background: var(--mdc-theme-secondary);
}

.mdc-card {
  border-radius: 8px;
  overflow-y: hidden;
  color: var(--mdc-theme-on-surface);
  transition: background-color 500ms ease-in-out;
}

.mdc-card::-webkit-scrollbar-track {
  margin-top: 4px;
}

.card-title {
  text-align: center;
  padding: 16px 0 32px 0;
}

.error-title {
  color: var(--mdc-theme-on-surface);
  margin: 16px auto;
  width: 50vmin;
}

.error-body {
  color: var(--mdc-theme-on-surface);
  margin: 16px auto;
  width: 50vmin;
}

.full-height {
  /* Set height to 100% of the shortest screen length... */
  /* minus the height of the top app bar... */
  /* minus the padding of the layout grid(twice). */
  height: calc(100vmin - 64px - 24px - 24px);
}