<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<!-- Highlights navigation button in menu. NOTE: Should be outside of barba-wrappers. -->
<script>
    document.querySelector('#list-item-messages').classList.add('mdc-list-item--selected');
</script>

<body>
      <main id="barba-wrapper" class="fix-grid">
            <div id="page2" class="barba-container">
                <p>WORK IN PROGRESS</p>
            </div>
      </main>
</body>
</html>