<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/news.css' />
    <title>Nyheter</title>
</head>

<body>

    <main id="barba-wrapper" class="fix-grid">
        <div id="page3" class="barba-container">

            <div class="mdc-card demo-card">


                <div class="demo-card__primary">
                    <h2 class="headline" class="demo-card__title"></h2>

                    <ul class="mdc-list mdc-list--two-line">
                        <li class="mdc-list-item news-item" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">SKOLBAL!!</span>
                                <p class="mdc-list-item__secondary-text" >Glöm inte att ta med dig vodka till balen! Varje elev förväntas att ha minst med sig 1 L vodka till Efterfesten på annars blir det F från Daniel. Jag hoppas att ni kommer att ha det väldigt roligt på balen - Agnes</p>
                            </span>
                        </li>

                    </ul>
                </div>

                 <div class="demo-card__primary">
                    <h2 class="headline" class="demo-card__title"></h2>

                    <ul class="mdc-list mdc-list--two-line">
                        <li class="mdc-list-item news-item" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Någon stal min banan!</span>
                                <p class="mdc-list-item__secondary-text" >Vafan, någon tog min gula banan! Vad har ni tänkt att jag ska äta nu som mellanmål? Trodde ni var bättre än så här. Jag är så besviken. smh my head.</p>
                            </span>
                        </li>

                    </ul>
                </div>

            </div>

            

        </div>
    </main>

</body>

</html>