<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/news.css' />
    <title>Nyheter</title>
</head>

<body>

    <main id="barba-wrapper">
        <div id="page3" class="barba-container">
            <div class="containers">
                <div class="mdc-card demo-card">


                    <div class="demo-card__primary">
                        <h2 class="headline" class="demo-card__title"></h2>

                        <ul class="mdc-list mdc-list--two-line">
                            <li class="mdc-list-item" tabindex="0">
                                <span class="mdc-list-item__text">
                                    <span class="mdc-list-item__primary-text">SKOLBAL!!</span>
                                    <span class="mdc-list-item__secondary-text">Glöm inte att ta med dig vodka till balen!</span>
                                </span>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </main>

</body>

</html>