<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/news.css' />
  <title>Ludum - Nyheter</title>
</head>

<!-- Highlights navigation button in menu. NOTE: Should be outside of barba-wrappers. -->
<script>
  document.querySelector('#list-item-news').classList.add('mdc-list-item--selected');
</script>

<body>

  <main id="barba-wrapper" class="fix-grid">
    <div id="page3" class="barba-container">

      <div class="mdc-card demo-card">


        <div class="demo-card__primary">
          <h2 class="headline" class="demo-card__title"></h2>

          <ul class="mdc-list mdc-list--two-line">
            <li class="mdc-list-item news-item" tabindex="0">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text"><b>SKOLBAL!!</b></span>
                <p class="mdc-list-item__secondary-text">Glöm inte att ta med dig vodka till balen! Varje elev förväntas
                  att ha minst med sig 1 L vodka till Efterfesten på annars blir det F från Daniel. Jag hoppas att ni kommer
                  att ha det väldigt roligt på balen - Agnes</p>
              </span>
            </li>

          </ul>
        </div>

        <div class="demo-card__primary">
          <h2 class="headline" class="demo-card__title"></h2>

          <ul class="mdc-list mdc-list--two-line">
            <li class="mdc-list-item news-item" tabindex="0">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text"><b>Någon stal min banan!</b></span>
                <p class="mdc-list-item__secondary-text">Vafan, någon tog min gula banan! Vad har ni tänkt att jag ska äta
                  nu som mellanmål? Trodde ni var bättre än så här. Jag är så besviken. smh my head. - Erik</p>
              </span>
            </li>

          </ul>
        </div>

        <div class="demo-card__primary">
          <h2 class="headline" class="demo-card__title"></h2>

          <ul class="mdc-list mdc-list--two-line">
            <li class="mdc-list-item news-item" tabindex="0">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text"><b>Banan upphittad</b></span>
                <p class="mdc-list-item__secondary-text">En väldig ovanlig gulfärgad banan har hittats! Om du skulle sakna
                  denna banan, sväng förbi mig och ge bevis att det är din! - Agnes</p>
              </span>
            </li>

          </ul>
        </div>

        <div class="demo-card__primary">
          <h2 class="headline" class="demo-card__title"></h2>

          <ul class="mdc-list mdc-list--two-line">
            <li class="mdc-list-item news-item" tabindex="0">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text"><b>Prov snart asså!</b></span>
                <p class="mdc-list-item__secondary-text">Tjena gubbs, vi har prov snart asså. Tänk vad kul ni kommer att
                  ha det när ni sitter hemma och studerar relativitetsteorin. Så sjukt roligt asså! - Daniel</p>
              </span>
            </li>

          </ul>
        </div>

      </div>



    </div>
  </main>

</body>

</html>