<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/news.css' />
</head>

<body>
    <main id="barba-wrapper" class="fix-grid">
        <div id="page2" class="barba-container">

            <div id="container">   
                <div class="mdc-card">
                    <h5 align="center" class="mdc-typography--headline5">Skolnyheter</h5>
                    <ul id="news-list">
                      <li>
                        <h6 class="mdc-typography--headline6">SKOLBAL!!</h6>
                        <p class="mdc-typography--body1">Glöm inte att ta med dig vodka till balen! Varje elev förväntas att ha minst med sig 1 L vodka till Efterfesten på annars blir det F från Daniel. Jag hoppas att ni kommer att ha det väldigt roligt på balen - Agnes</p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                        <h6 class="mdc-typography--headline6">Någon stal min banan!</h6>
                        <p class="mdc-typography--body1">Vafan, någon tog min gula banan! Vad har ni tänkt att jag ska äta nu som mellanmål? Trodde ni var bättre än så här. Jag är så besviken. smh my head. - Erik</p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                          <h6 class="mdc-typography--headline6">Utvärdering</h6>
                          <p class="mdc-typography--body1">Glöm inte att göra alla utvärderingar(skolutvärdering, trivselutvärdering och lärarutvärdering). Dessa är väldigt viktiga då vi kan påverka negativa upplevelser och ting och göra dem positiva. - Agnes</p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                          <h6 class="mdc-typography--headline6">Påminnelse</h6>
                          <p class="mdc-typography--body1">Året börjar gå mot sitt slut, glöm inte och göra alla uppgifter som måste vara klara vid terminens slut. Detta är så att lärarna får nog med underlag för att göra en rättvis betygsättning.</p>
                      </li>
                    </ul>
                </div>

                <div class="mdc-card">
                    <h5 align="center" class="mdc-typography--headline5">Elevhändelser</h5>
                    <ul id="news-list">
                      <li>
                        <h6 class="mdc-typography--headline6">Skol LAN</h6>
                        <p class="mdc-typography--body1">Det är dags för skolLAN snart. Glöm inte att anmäla er!</a></p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                          <h6 class="mdc-typography--headline6">Vill du vara med i elevrådet?</h6>
                          <p class="mdc-typography--body1">Vill du vara med i elevrådet? Vi söker fler elever att gå med elevrådet, vi har möte varje vecka där vi snackar om uppkommande händelser och planer</p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                          <h6 class="mdc-typography--headline6">Brädspel</h6>
                          <p class="mdc-typography--body1">Det är brädspelshelg om en månad. Då ska det spelas flera olika brädspel, BARA BRÄDSSPEL, INGA DIGITALA SPEL. Ni får även inte gå upp till molnet, annars kommer Securitas och slår skallen av er.</p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                          <h6 class="mdc-typography--headline6">TEST</h6>
                          <p class="mdc-typography--body1"></p>
                      </li>
                    </ul>
                </div>

                <div class="mdc-card">
                    <h5 align="center" class="mdc-typography--headline5">Upphittat</h5>
                    <ul id="news-list">
                      <li>
                        <h6 class="mdc-typography--headline6">Banan upphittad</h6>
                        <p class="mdc-typography--body1">En väldig ovanlig gulfärgad banan har hittats! Om du skulle sakna denna banan, sväng förbi mig och ge bevis att det är din! - Agnes</p>
                      </li>
                      <li role="separator" class="mdc-list-divder"></li>
                      <li>
                          <h6 class="mdc-typography--headline6">Upphittade nycklar</h6>
                          <p class="mdc-typography--body1">Vi har hittat ett par nycklar, Dem har olika färgglada färger som röd, blå, rosa, orange och gul. </p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                          <h6 class="mdc-typography--headline6">laddare upphittad</h6>
                          <p class="mdc-typography--body1">En laddare har blivit upphittad i Omega. Den har en silvertejpbit runt sladden och är i dålig kvalité. Det är en Dell laddare.</p>
                      </li>
                    </ul>
                </div>

            </div>

        </div>
    </main>
</body>

</html>