<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/news.css' />
</head>

<body>
    <main id="barba-wrapper" class="fix-grid">
        <div id="page2" class="barba-container">

            <div id="container">

                <div class="mdc-card">
                    <h5 align="center" class="mdc-typography--headline5">Skolnyheter</h5>
                    <ul id="news-list">
                      <li>
                        <h6 class="mdc-typography--headline6">SKOLBAL!!</h6>
                        <p class="mdc-typography--body1">Glöm inte att ta med dig vodka till balen! Varje elev förväntas att ha minst med sig 1 L vodka till Efterfesten på annars blir det F från Daniel. Jag hoppas att ni kommer att ha det väldigt roligt på balen - Agnes</p>
                      </li>
                      <li role="separator" class="mdc-list-divider"></li>
                      <li>
                        <h6 class="mdc-typography--headline6">Någon stal min banan!</h6>
                        <p class="mdc-typography--body1">Vafan, någon tog min gula banan! Vad har ni tänkt att jag ska äta nu som mellanmål? Trodde ni var bättre än så här. Jag är så besviken. smh my head. - Erik</p>
                      </li>
                    </ul>
                </div>

                <div class="mdc-card">
                    <h5 align="center" class="mdc-typography--headline5">Elevhändelser</h5>
                </div>

                <div class="mdc-card">
                    <h5 align="center" class="mdc-typography--headline5">Upphittat</h5>
                    <ul id="news-list">
                      <li>
                        <h6 class="mdc-typography--headline6">Banan upphittad</h6>
                        <p class="mdc-typography--body1">En väldig ovanlig gulfärgad banan har hittats! Om du skulle sakna denna banan, sväng förbi mig och ge bevis att det är din! - Agnes</p>
                      </li>
                    </ul>
                </div>

            </div>

        </div>
    </main>
</body>

</html>