<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel='stylesheet' href='/stylesheets/overview.css' />
    <title>Översikt</title>
</head>
<body>  
 <main id="barba-wrapper">
     <div id="page2" class="barba-container">
         
        <div class="containers">
            <div class="mdc-card demo-card">

    
                <div class="demo-card__primary">
                    <h2 class="headline" class="demo-card__title">Nyheter</h2>
      
                  <ul class="mdc-list mdc-list--two-line">
                        <li class="mdc-list-item" tabindex="0">
                            <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">SKOLBAL!!</span>
                            <span class="mdc-list-item__secondary-text">Glöm inte att ta med dig vodka till balen!</span>
    </span>
  </li>
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">First-line text</span>
      <span class="mdc-list-item__secondary-text">Second-line text</span>
    </span>
  </li>
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">First-line text</span>
      <span class="mdc-list-item__secondary-text">Second-line text</span>
    </span>
  </li>
</ul>
            </div>
    
            </div>

        </div>
    
        <div class="containers2">
            <div class="mdc-card demo-card">

    
                <div class="demo-card__primary">
                    <h2 class="headline" class="demo-card__title">Händelser</h2>
      
             <ul class="mdc-list mdc-list--two-line">
  <li class="mdc-list-item" tabindex="0">
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">Rättning av prov</span>
      <span class="mdc-list-item__secondary-text">Daniel Ståhl har rättat ett prov.</span>
    </span>
  </li>
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">First-line text</span>
      <span class="mdc-list-item__secondary-text">Second-line text</span>
    </span>
  </li>
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">
      <span class="mdc-list-item__primary-text">First-line text</span>
      <span class="mdc-list-item__secondary-text">Second-line text</span>
    </span>
  </li>
</ul>
            </div>
    
            </div>

        </div>
        
    </div>

</div>


 </main>
</body>
</html>