<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel='stylesheet' href='/stylesheets/overview.css' />
    <title>Översikt</title>
</head>
<body>  
 <main id="barba-wrapper">
     <div id="page2" class="barba-container">
         
        <div class="containers">
            <ul class="mdc-list">
                <li class="mdc-list-item" tabindex="0">
                    <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">Nyhet: 1</span>
                    <span class="mdc-list-item__secondary-text">Lärare: 1</span>
                    </span>
                </li>
                <li class="mdc-list-item">
                    <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">Nyhet: 2</span>
                    <span class="mdc-list-item__secondary-text">Lärare: 2</span>
                    </span>
                </li>
                <li class="mdc-list-item">
                    <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">Nyhet: 3</span>
                    <span class="mdc-list-item__secondary-text">Lärare: 3</span>
                    </span>
                </li>
            </ul>
        </div>


        
    </div>



 </main>
</body>
</html>