<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel='stylesheet' href='/stylesheets/profile.css' />
    <title>Profil</title>
</head>
<body>
        <main id="barba-wrapper" class="fix-grid">
            <div id="page" class="barba-container">
                    
                <div id="profilecard" class="mdc-card demo-card">
                    
                        <div id="profilebanner" class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url(&quot;https://memeguy.com/photos/images/i-googled-the-black-widow-ass-gif-was-not-disappointed-302174.gif&quot;);">
                        
                        </div>
                            <div class="demo-card__primary">
                                <img id="profile-image" src="https://lh5.googleusercontent.com/-q0675Igo6X0/AAAAAAAAAAI/AAAAAAAAAFQ/u17gToMdA80/s96-c/photo.jpg">
                                <h2 id="profile-name" class="demo-card__title mdc-typography mdc-typography--headline6">profile-name</h2>
                                
                                    </div>
                                        </div>
            </div>
                </div>
            </div>


            
        </main>   
</body>
</html>