<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/student-groups.css">
    <title>{{title}}</title>
</head>

<body>
    <main id="barba-wrapper" class="fix-grid">
        <div id="page" class="barba-container">

            <div id="course-container">
                <div id="general-courses" class="mdc-card">
                    <h5 align="center" class="mdc-typography--headline5">Elevgrupper</h5>
                    <hr class="course-divider">
                    <ul class="mdc-list course-list demo-list mdc-list--two-line mdc-list--avatar-list">
                        <li class="mdc-list-item course mdc-ripple-upgraded" tabindex="0">
                            <img class="mdc-list-item__graphic course-list-image" src="media/daniel.jpg" aria-hidden="true">
                            </img>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text course-list-text">SY17
                                </span>
                                <span class="mdc-list-item__secondary-text course-list-secondary-text">14 elever</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item course mdc-ripple-upgraded" tabindex="-1">
                            <img class="mdc-list-item__graphic course-list-image" src="media/daniel.jpg" aria-hidden="true">
                            </img>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text course-list-text">SU17
                                </span>
                                <span class="mdc-list-item__secondary-text course-list-secondary-text">34 elever</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item course mdc-ripple-upgraded" tabindex="-1">
                            <img class="mdc-list-item__graphic course-list-image" src="media/daniel.jpg" aria-hidden="true">
                            </img>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text course-list-text">TE17B</span>
                                <span class="mdc-list-item__secondary-text course-list-secondary-text"> 25 elever</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item course mdc-ripple-upgraded" tabindex="-1">
                            <img class="mdc-list-item__graphic course-list-image" src="media/daniel.jpg" aria-hidden="true">
                            </img>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text course-list-text">TE17A</span>
                                <span class="mdc-list-item__secondary-text course-list-secondary-text">25</span>
                            </span>
                        </li>
                    </ul>

                </div>


    </main>
</body>

</html>