<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/base.css' />
  <link rel='stylesheet' href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- TODO: Maybe switch this script out to a local script to decrease latency. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" type="text/javascript"></script>
  <!-- TODO: REMOVE JQUERY, IT IS TRASH -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
  <script src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js'
    type="text/javascript"></script>
  <script src='javascripts/layout-main.js' type='text/javascript'></script>
</head>


<body>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      Barba.Pjax.start();
    });
  </script>

  <main id="barba-wrapper">

    <ul id="nav-list" class="mdc-list" role="listbox">
      <li class="mdc-list-item mdc-list-item--selected" role="option" tabindex="0" aria-selected="true">
        <span href="/nyheter" class="mdc-list-item__text">Nyheter</span>
      </li>
      <li class="mdc-list-item" aria-selected="false">
        <span href="/schema" class="mdc-list-item__text">Schema</span>
      </li>
      <li class="mdc-list-item" aria-selected="false">
        <span href="/kurser" class="mdc-list-item__text">Kurser</span>
      </li>
      <li class="mdc-list-item" aria-selected="false">
        <span href="/uppgifter" class="mdc-list-item__text">Uppgifter</span>
      </li>
      <li class="mdc-list-item" aria-selected="false">
        <span href="/meddelanden" class="mdc-list-item__text">Meddelanden</span>
      </li>
      <hr>
      <li class="mdc-list-item" aria-selected="false">
        <span href="/personallista" class="mdc-list-item__text">Personallista</span>
      </li>
      <li class="mdc-list-item" aria-selected="false">
        <span href="/elevgrupper" class="mdc-list-item__text">Elevgrupper</span>
      </li>
    </ul>

    <header id="header" class="mdc-top-app-bar">
      <img id="logo" src="media/lbs-logo.png" />
      <h1 class="title">{{title}}</h1>
      <button class="account">
        <img src="https://cdn.discordapp.com/attachments/535771563685969920/552482626670297099/unknown.png" />
      </button>
    </header>

    <div id="page" class="barba-container">
      {{{body}}}
    </div>

  </main>
</body>

</html>