/* This is the base CSS file that all CSS should inherit from. */

html {
    font: 14px Roboto, "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    --mdc-theme-primary: #26c6da !important;
    --mdc-theme-secondary: #f9a825 !important;
    --mdc-theme-on-primary: #000000 !important;
    --mdc-theme-on-secondary: #000000 !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
}

main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 320px auto;
    grid-template-rows: 72px auto;
    grid-template-areas: "header header" "list page";
}

#header {
    display: grid;
    position: fixed;
    height: 72px;
    width: 100%;
    grid-template-columns: 320px auto 80px ;
    grid-template-areas: "logo title account";
    --mdc-theme-primary: #0095a8 !important;

}

#nav-list {
    position: fixed;
    height: 100%;
    width: 320px;
    top: 72px;
    grid-area: list;
    
}

#page {
    grid-area: page;
    height: 100%;
}

hr#small-hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    opacity: 0;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
}

#logo {
    display: grid;
    grid-template-columns: 72px 248px;
    grid-template-rows: 72px;
    grid-template-areas: "ludum school";
    max-height: 72px;
    width: auto;
    margin: auto auto auto 0;
    grid-area: logo;
}

#ludum{
    grid-area: ludum;
    max-height: 72px;
}

#school{
    grid-area: school;
    margin: auto;
    
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "school-logo school-name";
}

#school-logo{
    grid-area: school-logo;
    margin: 4px;
    width: auto;
    height: 38px;
}

#school-name{
    grid-area: school-name;
    margin: auto;
    color: #000000;
}



.mdc-list-item__text {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.mdc-list-item {
    height: 54px !important;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

button.account {
    background: transparent;
    border: none !important;
    font-size: 0;
    grid-area: account;
    margin-right: 16px;
}

button.account img {
    max-width: 56px;
    max-height: 56px;
    border-radius: 50%;
}

button.account:focus {
    outline: 0;
}

h3.title {
    text-align: center;
    margin: auto;
}

