@import "base.css";
.course {
    height: 10em !important;
}

#general-courses {
    grid-area: general-courses;
    margin: 1em;
}

#specific-courses {
    grid-area: specific-courses;
    margin: 1em;
}

#course-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "general-courses specific-courses";
}


.course-list {
    height: 75vh;
    overflow-y: hidden;
    overflow-x: hidden;   
}
.course-list:hover{
    overflow-y: auto;
}

.mdc-list{
    padding: 0 !important;
}
.course-divider{
    opacity: 1;
    margin: 0;
}
.course-list-text{
    font-size: 2em;
    margin: 20px 0 0 0;
}
.course-list-secondary-text{
    font-size: 1em;
    margin: 10px 0 0 0;
}
.course-list-image{
    height: 5em !important;
    width: 5em !important;
}