#employees-container{
    margin-top: 10px;
    margin-left: 50%;
    width: 100%;
}
#employees{
    width: 250%;
}
.course-list {
    height: 75vh;
    overflow-y: hidden;
    overflow-x: hidden;

}
.course-list:hover{
    overflow-y: auto;
}

.mdc-list{
    padding: 0 !important;
}
.course-divider{
    opacity: 1;
    margin: 0;
}
