@import "base.css";

p {
    font-size: 103% !important;
}


main {
    height: 85% !important;
}

#page3 {
    height: 90%;
}

.news-item {
    height: 15em !important; 
    
}

.news-item {
    
}

.containers{
    height: 80vh;
    margin-left: 20px;
    margin-top: 10px;
  
}

.barba-container {
    height: 80vh;
}

.containers ul {
    height: 100% !important;
}

.headline {
    text-align: center;
}

.demo-card {
    height: 80vh;
    width: 50em;
    margin: auto;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.demo-card:hover {
    overflow-y: auto;
}

.mdc-list-item__secondary-text {
    white-space: pre-wrap;
}

.mdc-list-item__primary-text {
    margin-bottom: 2px;
}