@import "base.css";

html{
    height: 100%;
}
body{
    height: 100%;
}
#page2{
    display: grid;
    width: 100%;
    height: 100%;
    
}
.mdc-list{
    height: 100%;
    width: 100%;
}
.containers{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"news notifications schedule" !important;
    height: 100%;
}

.containers ul{
    grid-area: schedule;    
    width: 100%;
    height: 100% !important;
    border-style: dotted;
    border-radius: 2%;
}
