@import "base.css";

html{
    height: 100%;
}
body{
    height: 100%;
}
#page{
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"news notifications schedule" !important;
    
}

.newscard ul{
    list-style: none !important;
    text-align: center;
    
}
.newscard{
    grid-area: news;
    margin-left: 0px;
    width: 30%;
    height: 100% !important;
    border-style: solid;
    
   
}
