@import "base.css";

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
}

#container .mdc-card {
    padding: 8px;
    margin: 1em;
    height: 100%;
}

#container .mdc-card .mdc-typography--headline5 {
    margin: 0 -8px;
}